<div class="authorbox">
    <h4>About the Author:</h4>
    <div class="authorimage sidetoside"><img src="/img/profile.jpg" height="100px" width="100px"></div>
    <div class="authortext sidetoside">
        <div class="authorname">Marcus "Mo" Eisele</div>
        <div class="authordescription">
            <p>
                Marcus is fascinated by technology. He loves learning new things.<br>
                He is a Software Engineer at <a href="https://www.daimler-tss.com/en/" rel="nofollow">Daimler TSS</a> and has a personal blog at <a href="https://marcuseisele.com/" rel="nofollow">MarcusEisele.com</a>.
            </p>
            
        </div>
    </div>
</div>